body {
  background-color: #e6e6fa; /* 은은한 라벤더 색상 */
  font-family: Arial, sans-serif;
}

.list {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
}
